* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.app-container {
  max-width: 600px;
  width: 100%;
  margin: 200px auto;
  background-color: rgb(228, 228, 221);
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  width: 100%;
  background-color: rgb(139, 73, 201);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  color: rgb(237, 235, 233);
}

.create {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.task-field {
  width: 92%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
}

.add {
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
}

.filters {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 1rem;
  height: 40px;
  border-bottom: solid rgb(164, 163, 163) 1.5px;
  background-color: aliceblue;
}

.filter {
  padding: 3px 7px;

  border: none;
  font-size: 1rem;
  background-color: aliceblue;
  color: rgba(11, 11, 11, 0.805);
  opacity: 0.9;
}

.active-filter {
  border-bottom: solid 2px rgb(3, 3, 115);
  color: black;
  font-weight: 500;
  opacity: 1;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 10px;
  font-size: 1rem;
}

.fa-clipboard-list {
  font-size: 2rem;
}

.todos-container {
  padding: 15px 0;
  max-height: 300px;
  overflow-y: auto;
  background-color: aliceblue;
}

.todos-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-left: 10px;
}

.task {
  width: 90%;
  overflow-x: auto;
  border: solid 1px lightblue;
  border-radius: 4px;
  padding: 4px;
}

.checkbox {
  appearance: none;

  height: 20px;
  width: 20px;

  border: 2px solid grey;
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.2s;
}

.checkbox:checked {
  border-color: rgb(8, 210, 8);
  background-color: rgb(8, 210, 8);
}

.checkbox-container {
  position: relative;
}

.checkmark {
  position: absolute;
  opacity: 0;

  top: 4px;
  left: 8px;
}

.checkbox:checked + .checkmark {
  opacity: 1;

  width: 5px;
  height: 12px;

  border-right: 2px solid white;
  border-bottom: 2px solid white;

  transform: rotate(45deg);
}

.task-completed {
  background-color: rgb(154, 234, 154);
  color: #000000;
  text-decoration: line-through;
}

.delete {
  height: 24px;
  width: 20px;

  color: rgb(194, 24, 24);

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer {
  background-color: rgb(230, 228, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  height: 40px;
  font-size: 0.9rem;
}

#clear-completed {
  border: none;
  background-color: transparent;
  padding: 4px;
  font-size: 0.9rem;
}

.hidden {
  display: none;
  opacity: 0;
}

.modal {
  height: 100px;
  width: 300px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  text-align: center;
  z-index: 100;
  top: 50%;
  transform: translateX(50%);
  border-radius: 6px;
}

.btn-close-modal {
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  font-size: 1.6rem;
  color: rgb(195, 3, 3);
  display: block;
  border: none;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.5s;
}

@media (max-width: 500px) {
  .app-container {
    width: 100%;
    margin: 100px 7px;
  }

  .modal {
    transform: translateX(17%);
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .modal {
    transform: translateX(25%);
  }

  .app-container {
    width: 100%;
    margin: 200px 7px;
  }
}
